@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin: 0 8vw;
    @include respond-below(sm){
        margin: 0 2vw;
    }
}
.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    @include respond-below(md){
        grid-template-columns: auto;
        gap: 1px;
    }
}