@import "../../styles/colors";
@import "../../styles/mixins";

.container {
    margin: -10px;
    background-color: $accent2;
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8vw;
    
    .home{
        text-transform: uppercase;
        letter-spacing: 5px;
    }
   
    @include respond-below(sm){
        
            margin: 0 4vw;
        
        
    }
}
  ul {        
      display: flex;
      align-items: center;
      @include respond-below(sm){
          display: none;
      }
  }

  ul li {
      margin-right: 20px;

      &:last-child {
          margin-right: 0px;
      }
  }
}