@import "../../styles/colors";
@import "../../styles/mixins";


.container{
    margin: 0 8vw;
    padding-bottom: 20px;
    @include respond-below(sm){
        margin: 0 2vw;
    }
    h1{
        text-align: center;
    }
}
.gridContainer{
    display: flex;
    justify-content: center;
    flex-basis: 25%;
    gap: 40px;
    @include respond-below(md){
        display: grid;
        grid-template-columns: auto;
        gap: 1px;
    }
    .gridItem{
        text-align: center;
    }
}
.titleUnderline{
    margin-left: 0 auto;
    width: 100px;
    border-color: $accent1;
}