@import "../../styles/colors";
@import "../../styles/mixins";

.footer {
    margin: -10px;
    padding: 5px;
    background-color: $accent2;
    position: relative;
    bottom: -10px;
    margin-top: 100px;
   
    text-align: center;
    color: white;
    p {
        letter-spacing: 3px;
        text-transform: uppercase;
        opacity: 50%;
    }
}
