@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin: 0 8vw;
    @include respond-below(sm){
        margin: 0 2vw;
    }
}
.gridContainer{
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 50px;
    @include respond-below(sm){
        grid-template-columns: auto;
        gap: 10px;
    }
}

.titleUnderline{
    margin-left: 0;
    margin-top: -35px;
    width: 130px;
    height: 20px;
    background-color: $accent1;
    color: $accent1;
    border: none;
    box-shadow: none;
}