@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  background-color: white;
  font-size: 1em;
  color: black;
  line-height: 30px;
}
* {
  box-sizing: border-box;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  transition: all 0.3s all ease-in-out;
}
a:hover {
  color: #de5499;
  opacity: 1;
    path{
        fill: #E5E5E5;
    }
}