
html,
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  background-color: white;
  font-size: 1em;
  color: black;
  line-height: 30px;
}
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1,h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  transition: all 0.3s all ease-in-out;
}
a:hover {
  color: #01FFA4;
  opacity: 1;
    path{
        fill: #E5E5E5;
    }
}
button{
  font-family:"Montserrat", sans-serif;
}

#uspIcon{
  text-align: center;
  color: #171E2E;
  font-size: 5em;
}
#icon{
  text-align: center;
  color: #01FFA4;
  font-size: 5em;
}