@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("../src/fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}

html,
body {
  font-family: 'Montserrat-VariableFont_wght';
  padding: 0;
  background-color: white;
  font-size: 1em;
  color: black;
  line-height: 30px;
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

h1, h2, h3, h4, p, span, ul, ol, li{
  font-family: 'Montserrat';
}

li{
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  transition: all 0.3s all ease-in-out;
}
a:hover {
  color: #01FFA4;
  opacity: 1;
    path{
        fill: #E5E5E5;
    }
}
button{
  font-family:'Montserrat';
}

#uspIcon{
  text-align: center;
  color: #171E2E;
  font-size: 5em;
}
#icon{
  text-align: center;
  color: #01FFA4;
  font-size: 5em;
}