@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin: 0 8vw;
    padding-bottom: 20px;
    .title{
        font-weight: 500px;
    }
    @include respond-below(sm){
        margin: 0 2vw;
    }
}
.box{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: justify;
    gap: 100px;
    @include respond-below(sm){
        flex-direction: column;
        gap: 0px;
    }
}
.headshot{
    width: 300px;
}
.titleUnderline{
    margin-left: 0;
    margin-top: -35px;
    width: 130px;
    height: 20px;
    background-color: $accent1;
    color: $accent1;
    border: none;
    box-shadow: none;
}
.viewResume{
    margin: 0;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: $accent2;
    border: solid 1px $accent2;
    color: $accent1;
    border-radius: 5px;
    font-size: 1em;
}
.viewResume:hover{
    cursor: pointer;
    background-color: white;
    border: solid 1px $accent2;
    color: $accent2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}